#
# Local config file
#
# -----------------------------------------------------------------------------

# AX/Mutant
#BOXMODEL = hd51
#BOXMODEL = hd60
#BOXMODEL = hd61

# WWIO
#BOXMODEL = bre2ze4k

# Air Digital Zgemma H7S/C
#BOXMODEL = h7

# Edison
#BOXMODEL = osmio4k
#BOXMODEL = osmio4kplus

# VU+
#BOXMODEL = vusolo4k
#BOXMODEL = vuduo4k
#BOXMODEL = vuduo4kse
#BOXMODEL = vuultimo4k
#BOXMODEL = vuzero4k
#BOXMODEL = vuuno4k
#BOXMODEL = vuuno4kse
#BOXMODEL = vuduo

# -----------------------------------------------------------------------------

#BS_GCC_VERSION = 6.5.0
#BS_GCC_VERSION = 7.5.0
#BS_GCC_VERSION = 8.4.0
#BS_GCC_VERSION = 9.3.0
#BS_GCC_VERSION = 10.2.0

# -----------------------------------------------------------------------------

#OPTIMIZATIONS = size
#OPTIMIZATIONS = normal
#OPTIMIZATIONS = debug

# -----------------------------------------------------------------------------

#FLAVOUR = neutrino-max
#FLAVOUR = neutrino-ddt
#FLAVOUR = neutrino-ni
#FLAVOUR = neutrino-tangos
#FLAVOUR = neutrino-redblue

# -----------------------------------------------------------------------------

#EXTERNAL_LCD = none
#EXTERNAL_LCD = graphlcd
#EXTERNAL_LCD = lcd4linux
#EXTERNAL_LCD = both
