#
# exclude directories explicitly
#
/build_source
/build_tmp
/cross
/support/scripts/*-local*
/host
/own-files
/package/extras
/release
/release_image
/root
/.deps
#
# exclude files explicitly
#
.config
config.local
Makefile.local
#
# exclude filemasks
#
*~
.ignore
