#
# exclude directories explicitly
#
/build_cross
/build_host
/build_source
/build_tmp
/own-files
/own-patches
/package/extras
/release_image
/root
/support/scripts/*-local*
/.deps
#
# exclude files explicitly
#
.config
config.local
Makefile.local
#
# exclude filemasks
#
*~
.ignore
git-replace.sh
